<div class="containerBox">
    <div class="panning-overlay"></div>
    <div class="panning-bg"></div>

    <!-- Centered text content -->
    <div class="content">
        <h1 data-aos="zoom-in-up">Who I am?</h1>
        <div data-aos="fade-up" data-aos-duration="3000" class="contentTxt">
            I am a Front-End Developer with 3+ years of experience building high-performance, scalable, and secure web
            applications. Expert in Angular (12–17+), TypeScript, NgRx, RxJS, and modern frontend technologies, with a
            proven track record of delivering responsive, accessible, and cloud-ready UIs integrated with enterprise
            APIs.
            Skilled in state management, performance optimization, and unit/integration testing, ensuring robust and
            maintainable code. Recently completed an M.Sc. in Cyber Security, equipping me with advanced knowledge of
            secure coding, vulnerability detection, and risk mitigation—enabling the development of secure,
            enterprise-grade
            applications. Adept at collaborating in Agile teams, troubleshooting complex issues, and delivering features
            that improve both user experience and system reliability.
        </div>
    </div>
</div>