<div class="with-bg-size">
    <div id="color-overlay"></div>
</div>

<div class="box">
    <h1 data-aos="zoom-out-down">Let’s Build Something Great Together</h1>
    <p data-aos="zoom-out-left">Whether you’re looking to collaborate, hire, or just connect — I’d love to hear from
        you.</p>

    <!-- LinkedIn -->
    <a data-aos="zoom-out" title="LinkedIn" href="https://www.linkedin.com/in/ankit-negi-9397821b3/" target="_blank"
        class="btnm me-2">
        <i class="fa-brands fa-linkedin"></i>
    </a>

    <!-- Email -->
    <a data-aos="zoom-out" title="Email" class="btnm me-2" (click)="sendEmail()">
        <i class="fa fa-envelope-o fa-1x"></i>
    </a>

    <!-- Mobile -->
    <a data-aos="zoom-out" title="Mobile" class="btnm me-2" (click)="callPhone()">
        <i class="fa-solid fa-phone"></i>
    </a>

    <!-- GitHub -->
    <a data-aos="zoom-out" title="Github" href="https://github.com/ankitnegiuk" target="_blank" class="btnm me-2">
        <i class="fa-brands fa-github"></i>
    </a>

    <h5 class="mt-4 point" (click)="downloadResume()">
        <i class="fa-solid fa-download"></i> Download Resume
    </h5>

</div>