<div class="mainBg">
    <div class="containerSkills">
        <div class="slide">
            @for (item of items; track $index; let i = $index) {
            <div class="item" [class.active]="i === activeIndex" [style.background-image]="'url(' + item.image + ')'">
                @if (i === activeIndex) {
                <div class="content">
                    <div class="name">{{ item.name }}</div>
                    <div class="des">{{ item.des }}</div>
                </div>
                }
            </div>
            }
        </div>

        <div class="button">
            <button class="prev" (click)="prev()">◁</button>
            <button class="next" (click)="next()">▷</button>
        </div>
    </div>
</div>