/* Global font variables */
:root {
    --font-primary: 'Comfortaa', sans-serif;
    --font-mono: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/* Apply to body */
body {
    font-family: var(--font-primary);
}

.mainHeading {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    text-align: center;
    margin: 30px 30px;
    font-size: 3em;
}